<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="EdmSetManagement.Core.Settings.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="EdmSetManagement.Core.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="EdmSetManagement.Core.proj" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>

    <EdmSetManagement.Core.Settings.Configuration>
      <!--folders-->
      <setting name="CuesheetPath" serializeAs="String">
        <value>F:\MP3\!DJMixes\Ripped\!CueSheetDump</value>
      </setting>
      <setting name="DjSetPath" serializeAs="String">
        <value>F:\MP3\!DJMixes</value>
      </setting>
      <setting name="ChopFolder" serializeAs="String">
        <value>F:\MP3\!ChoppingBoard</value>
      </setting>

      <!--programs-->
      <setting name="Mp3SplitPath" serializeAs="String">
        <value>C:\source\Tim Work Area\EdmSetManagement\EdmSetManagement.Console\bin\Release\Binaries\mp3splt.exe</value>
      </setting>
      <setting name="Id3Path" serializeAs="String">
        <value>C:\source\Tim Work Area\EdmSetManagement\EdmSetManagement.Console\bin\Release\Binaries\id3.exe</value>
      </setting>
      <setting name="StreamRipperPath" serializeAs="String">
        <value>C:\source\Tim Work Area\EdmSetManagement\EdmSetManagement.Console\bin\Release\Binaries\streamripper.exe</value>
      </setting>
      <setting name="Mp3InfoPath" serializeAs="String">
        <value>C:\Source\EdmSetManagement\EdmSetManagement.Console\bin\Debug\Binaries\mp3info.exe</value>
      </setting>

      <!--stations-->
      <setting name="StationsList" serializeAs="String">
        <value>C:\source\Tim Work Area\EdmSetManagement\EdmSetManagement.Console\bin\Release\Stations\station_list.txt</value>
      </setting>
    </EdmSetManagement.Core.Settings.Configuration>


	</applicationSettings>

</configuration>